body {
    background-color: bisque; 
    text-align: center;

}
header {background-color: black ;
    text-align: center;

}
.footer {
    background-color: black ;
    text-align: center;
    margin-top: 15rem;
    
}
a.nav-bar {color: rgb(240, 69, 217);
    text-align: center;
    padding: 2rem;

}
.fa-linkedin {
    background: #007bb5; 
    color: white; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-content: center;
}
.fa-brand {
    padding: 20px;
    font-size: 40px;
    width: 60px;
    text-decoration: none;
    margin: 5px 80px;

}
.fname-input {
    margin-left: 9px;
}
.lname-input {
    margin-left: 11px;
    margin-top: 5px;
}
.email-input {
    margin-left: 43px;
    margin-top: 5px;
}
button {
    margin-left: 80px;
    margin-top: 1rem;
}
.logo {
    width: 150px;
    height: auto;
    text-align: left;   
}
.email-me {
    margin-top: 10px;
    margin-left: 80px;
}    
form {
    margin-bottom: 2rem;
}
.social-icon {
    font-size: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
}
